# Ignore private keys
keys/*.key

# Ignore user-specific files
.vscode/
*.user
*.suo
*.local.http
docker-compose.local.yml

# Ignore build output
bin/
obj/
\.vs/

# Frontend dependencies and build output
node_modules/
dist/
*.tsbuildinfo
